<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/sg.min.css' />
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="logo">
          <span class="p1">Un</span><span class="p2">scrambler</span>
        </div>
      </div>

      <div class="col-12" style="text-align: center;">
        <div class="ip">
          <input type="text" id="word" placeholder="e.g. iamottniov">
          <div id="search-btn">
              <i class="fas fa-search"></i>
          </div>
        </div>
      </div>

      <div class="col-12" id="result">
          <div class="banner">
              Unscrambler is useful in generating valid words from puzzle games such as Scrabble,
              Words with Friends, Wordscraper, TextTwist etc. So, if you need any 
              help (or perhaps, you want to cheat a little) in such word games, 
              this site will help you in that :-) You can enter any number of letters 
              and it shows you the valid words that can be made from the given scrambled letters.
          </div>
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/rahulnjs" target="_blank">
        <i class="fab fa-github"></i> Rahul Sharma</a>
      <br><br>
      &copy; 2018, All rights reserved
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>