body {
  padding: 0;
  margin: 0;
}

div.logo {
  font-family: 'IM Fell English SC', serif;
  font-size: 2.7rem;
}

div.logo .p1 {
  color:#884EA0;
}

div.logo .p2{
  color:#D2B4DE;
}

a {
  color: #D2B4DE;
}


#search-btn {
  position: absolute;
  left: 91%;
  margin-top: -32px;
  z-index: 6;
  cursor: pointer;
  color: #884EA0;
}

.loader {
  animation: spin 2s infinite linear;
}

#word {
  width: 94%;
  outline: none;
  box-shadow: 0px 1px 1px 0px grey;
  border: none;
  border-top: 1px solid #ddd;
  height: 44px !important;
  border-radius: 2px;
  font-size: 20px;
  padding: 2px 10px 3px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.word-card {
  font-family: 'Muli', sans-serif;
}