body {
  padding: 0;
  margin: 0;
  background-color: #e9ebee;
}

div.logo {
  font-family: 'IM Fell English SC', serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 5%;
}

div.logo .p1 {
  /*color:#884EA0;*/
  color: rgba(97, 213, 228, 1);
}

div.logo .p2{
  /*color:#D2B4DE;*/
  color: rgba(21, 101, 192, 1);
}

a {
  color: rgba(0, 39, 82, 1);
  font-weight: 600;
  text-decoration: none;
}


.ip {
  margin: 0px auto;
  width: 100%;
  max-width: 600px;
  position: relative;
}

#search-btn {
  position: absolute;
  margin-top: -29px;
  right: 10px;
  z-index: 6;
  cursor: pointer;
  color: rgba(21, 101, 192, 1);;
}

.loader {
  animation: spin 2s infinite linear;
}

#word {
  width: 100%;
  outline: none;
  box-shadow: 0px 1px 1px 0px grey;
  border: none;
  border-top: 1px solid #ddd;
  height: 44px !important;
  border-radius: 2px;
  font-size: 20px;
  padding: 2px 10px 3px;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  max-width: 600px;
  margin: 0px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.word-card {
  font-family: 'Muli', sans-serif;
  width: 100%;
  position: relative;
  font-size: 1.2rem;
  padding: 13px;
  box-shadow: -1px 1px 4px -1px rgba(0,0,0,.4);
  border-radius: 2px;
  box-sizing: border-box;
  text-transform: capitalize;
  margin-bottom: 10px;
  background-color: #fff;
  max-width: 600px;
  margin: 0px auto;
}

.explore {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: .9rem;
  color: gray;
  cursor: pointer;
}

.pron {
  text-transform: none;
  font-size: .9rem;
  color: gray;
}

.pronunce:after {
  content: '/';
}

.pronunce:before {
  content: '/';
}



.mp3-player {
  margin-left: 10px;
  color: #5a5a5a;
  cursor: pointer;
}

.block {
  margin: 10px 0px;
}

.derivs {
  font-size: .8rem;
  color: #a59999;
  font-weight: 600;
}

.meaning {
  margin-top: 10px;
  font-size: .9rem;
  text-transform: none;
  margin-left: 15px;
  color: #565252;
  font-weight: 600;
}

.exmpls {
  margin-top: 7px;
  color: gray;
}


.exmpl {
  font-size: .8rem;
  font-weight: normal;
  color: #a0a0a0;
}

.sub-meaning {
  font-weight: 400;
}

.lex-cat {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: .8rem;
}


.no-meaning {
  color: red;
  margin: 15px 10px 5px 10px;
  font-size: .9rem;
  font-weight: 600;
  text-transform: none;
}

.domain {
 /* position: absolute;
  right: 11px; 
  margin-top: 1px;
  */
  font-size: 11px;
  background-color: #e4f1fd;
  padding: 2px 3px 2px 5px;
  margin-right: 5px;
  border-radius: 2px;
  font-weight: 400;
}

.footer {
  margin-top: 40px;
  text-align: center;
  bottom: 10px;
  font-family: 'Muli', sans-serif;
  font-size: .9rem;
}


.banner {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 40px;
  font-family: 'Muli', sans-serif;
}